/* a:link,a:visited
 {
 	text-decoration: none;
 	font-family: Sans-serif;
 	color: #222222;
 	background-color: #87D543;
 	border-radius: 3px;
 	padding: 5px;
 	margin: 20px 20px;
 }

 a:hover
 {
 	text-decoration: none;
 	font-family: Sans-serif;
 	color: #fafafa;
 	background-color: #5BA11E;
 	border-radius: 3px;
 	padding: 5px;
 	margin: 20px 20px;
 }
 */